.NavBar {
    background: rgba(69,90, 100, 1);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.NavBar a {
    color: white;
    transition: all 0.5s ease;
    text-decoration: none;
}

.NavBar a.NavBar-active {
    color: red;
}